body {
    
    background: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #002c53;
    height: 100%;
    margin: 0;
}




.page {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header" "page" "footer";
    height: 100%;
    min-height: 100vh;
   
}

.footer {
    
    width: 100%;
    height: 250px;
    background: url("../img/FootBack.jpg") center no-repeat;
}


/*Content*/

.benefits {
   justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    margin: 33px auto;
    max-width: auto;
    
    margin-top: 630px;
     opacity: 0.9;
}

.benefits-item {
    box-shadow: 0 10px 25px #000;
    width: 1100px;
    
    max-height: 690px;
    background: url("../img/feed_back.jpg") center no-repeat;
    padding: 3px;
    margin-top: 22px;
    margin-bottom: 22px;
    flex-direction: row;
    overflow: hidden; 
    border-radius: 20px;
}

* {
   box-sizing: border-box;
}

}
.decor {
   position: relative;
   max-width: 400px;
   margin: 50px auto 0;
   background: #fff;
   border-radius: 30px;
    max-height:700px;
}

.circle {
   position: absolute;
   bottom: 80px;
   left: -55px;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background: white;
}
.form-inner {
   padding: 50px;
}
.form-inner input, .form-inner textarea {
   display: block;
   width: 100%;
   padding: 0 20px;
   margin-bottom: 10px;
   background: #E9EFF6;
   line-height: 40px;
   border-width: 0;
   border-radius: 20px;
   font-family: 'Anton', sans-serif;
    box-shadow: 0 11px 22px #000;
}
.form-inner input[type="submit"] {
   margin-top: 30px;
   background: #000;
   border-bottom: 4px solid #000;
   color: white;
   font-size: 22px;
}

.form-inner input[type="submit"]:hover {
    color:red;
    font-size: 25px;
}
.form-inner textarea {
   resize: vertical;
    max-height: 200px;
}


.mint {
    height: 0; 
    opacity: .9;
    z-index: 1;
    
}

.mint img {
 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
margin-top: 75px;
    height: 1000px;
 }
 
.mint img:hover{
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 }



/*Header*/
.header {
    width: 100%;
    position: absolute;
     height: 620px;
   background: url("../img/HeadBack0.jpg") center;
    
}

.header_logo {
    font-family: 'Stick', sans-serif;
    color: rebeccapurple;
    font-weight: 700;
    font-size: 70px;
    text-shadow: 3px #000;
    
}

.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    
}
.right_logo {
    font-family: 'Stick', sans-serif;
    color: rebeccapurple;
    font-size: 22px;
    text-align: right;
    
    
}

/*Links*/

.nav {
    text-transform: uppercase;
    font-size: 22px;
    text-align: right;
    
}

.socnav {
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
   
}

.soclink_style {
    color: #000;
    font-family: 'Anton', sans-serif;
    text-decoration: none;
    transition: color .3s linear;
    z-index: 1002;
    position: relative;
    padding: 3px;
    opacity: 1.0;
    filter: alpha(opacity=1.0); 
}


.soclink_style img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    opacity: 0.6;
    filter: alpha(opacity=0.6);   
 }

.link_style {
    color: #000;
    font-family: 'Anton', sans-serif;
    text-decoration: none;
    transition: color .3s linear;
    padding: 11px;
 
}

.link_style:hover {
    color: red;
}